@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p,
button,
input {
  font-family: "Roboto", cursive;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellota", cursive;
}

h1 {
  font-size: 5rem;
}

p {
  letter-spacing: 0.5px;
  line-height: 25px;
  color: rgba(148, 141, 141, 0.795);
}

h2 {
  font-size: 4.2rem;
}

h4 {
  font-size: 2rem;
}

.nav {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 8%;
  height: 10vh;
  width: 100%;
  background-color: #fff;
}
.nav .nav-box {
  display: flex;
  width: 100%;
  height: 100%;
}
.nav .nav-img {
  height: 80%;
}
.nav .nav-items {
  margin-left: 20px;
}
.nav .nav-items .nav-item {
  padding: 20px;
  text-transform: uppercase;
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav .nav-items .nav-item a {
  text-decoration: none;
  color: #473452;
}
.nav .show {
  display: none;
}
.nav .nav-btn {
  position: relative;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
}
.nav .nav-btn i {
  font-size: 6vw;
  padding: 10px;
  color: #1ba4ce;
}

@media (min-width: 992px) {
  .nav .nav-items {
    display: flex;
  }
  .nav .nav-btn {
    display: none;
  }
}
@media (max-width: 992px) {
  .nav .nav-items {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #1ba4ce;
  }
  .nav .nav-items .nav-item {
    margin: 20px 0;
    font-size: 2rem;
  }
  .nav .nav-items .nav-item a {
    color: #fff;
  }
  .nav .show {
    display: flex;
  }
}
.header {
  height: 75vh;
  padding: 10px 8%;
}
.header .header-img-bg {
  position: absolute;
  z-index: 200;
  display: none;
  right: 0;
  top: 0;
  height: 50vw;
  max-height: 800px;
}
.header .header-img-side {
  position: absolute;
  z-index: -10;
  left: -50px;
  top: 100px;
  width: 25%;
  max-width: 180px;
}
.header .header-title {
  margin: 70px 0;
}
.header .header-small-title {
  font-size: 1.6rem;
  margin: 50px 0;
}
.header .header-text {
  font-size: 1.6rem;
  margin: 50px 0;
}
.header .header-btn {
  padding: 10px 20px;
  margin-right: 30px;
  background-color: #1ba4ce;
  color: #fff;
  border: none;
}
.header .header-btn-watch {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background: none;
  color: #473452;
}
.header .header-btn-watch i {
  font-size: 4rem;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .header {
    height: 50vh;
  }
  .header .header-title {
    font-size: 4rem;
    margin: 20px 0;
  }
  .header .header-small-title {
    font-size: 1.3rem;
    margin: 10px 0;
  }
  .header .header-text {
    font-size: 1.5rem;
    margin: 30px 0;
  }
  .header .header-btn {
    padding: 7px 10px;
    margin-right: 5px;
    font-size: 1.2rem;
  }
  .header .header-btn-watch {
    padding: 5px 10px;
    font-size: 1.2rem;
  }
  .header .header-btn-watch i {
    font-size: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 769px) {
  .header .header-title {
    font-size: 6rem;
    margin: 20px 0;
  }
  .header .header-small-title {
    font-size: 3rem;
    margin: 30px 0;
  }
  .header .header-text {
    font-size: 2.7rem;
    margin: 70px 0;
  }
  .header .header-btn {
    padding: 10px 20px;
    margin-right: 30px;
    font-size: 2.5rem;
  }
  .header .header-btn-watch {
    padding: 10px 20px;
    font-size: 2.5rem;
  }
}
@media (min-width: 767px) and (max-width: 1025px) {
  .header {
    height: 80vh;
  }
  .header .header-title {
    font-size: 7rem;
    margin: 40px 0;
  }
  .header .header-small-title {
    font-size: 3.5rem;
    margin: 50px 0;
  }
  .header .header-text {
    font-size: 2.7rem;
    margin: 90px 0;
  }
  .header .header-btn {
    padding: 15px 30px;
    margin-right: 30px;
    font-size: 3rem;
  }
  .header .header-btn-watch {
    padding: 15px 30px;
    font-size: 3rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .header .header-img-bg {
    height: 40vw;
  }
}
@media (min-width: 1050px) and (max-width: 1200px) {
  .header .header-img-bg {
    height: 30vw;
  }
}
@media (min-width: 1050px) {
  .header {
    padding-right: 55%;
  }
  .header .header-img-bg {
    display: block;
  }
}
.about {
  display: flex;
  padding: 0 8%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about .about-img {
  width: 5vw;
}
.about h3 {
  font-size: 1.6rem;
  margin-top: 20px;
}
.about .about-title {
  font-size: 4.2rem;
  margin: 40px;
}
.about .about-text {
  font-size: 1.6rem;
  max-width: 800px;
}
.about .about-btn {
  margin: 50px;
  padding: 10px 20px;
  background-color: #1ba4ce;
  border: none;
  border-radius: 20px 20px;
  color: #fff;
}

@media (max-width: 321px) {
  .about {
    padding-top: 40px;
  }
}
@media (max-width: 576px) {
  .about h3 {
    font-size: 1.3rem;
  }
  .about .about-title {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  .about .about-img {
    width: 20vw;
    margin-top: 70px;
  }
  .about .about-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about h3 {
    font-size: 2.3rem;
  }
  .about .about-title {
    font-size: 5rem;
    margin: 20px 0;
  }
  .about .about-img {
    width: 20vw;
  }
  .about .about-text {
    font-size: 2.7rem;
  }
  .about .about-btn {
    font-size: 2.5rem;
    border-radius: 30px 30px;
    padding: 15px 30px;
  }
}
.service {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  width: 100%;
}
.service .img {
  height: 350px;
  width: 25%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
}
.service .img .shadow {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 164, 206, 0.6);
}
.service .img .shadow .shadow-img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.service .img .shadow .shadow-text {
  color: #fff;
}
.service .img:hover .shadow {
  display: flex;
}
.service .first {
  background-image: url("../img/services-bg-1.jpg");
}
.service .second {
  background-image: url("../img/services-bg-2.jpg");
}
.service .third {
  background-image: url("../img/services-bg-3.jpg");
}
.service .fourth {
  background-image: url("../img/services-bg-4.jpg");
}

@media (min-width: 576px) and (max-width: 1200px) {
  .service .img {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .service .img {
    width: 100%;
  }
}
.procedures {
  text-align: center;
  padding: 0 8%;
}
.procedures .procedures-text {
  max-width: 800px;
  margin: 50px auto;
}
.procedures .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.procedures .cards .card {
  margin: 20px;
  max-width: 350px;
  padding: 20px 20px 0 20px;
  border: 1px solid rgb(219, 213, 213);
  transition: all 0.3s;
}
.procedures .cards .card .card-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.procedures .cards .card .card-text {
  font-size: 1.5rem;
}
.procedures .cards .card .card-first {
  background-image: url("../img/procedures-bg-1.jpg");
}
.procedures .cards .card .card-second {
  background-image: url("../img/procedures-bg-2.jpg");
}
.procedures .cards .card .card-third {
  background-image: url("../img/procedures-bg-3.jpg");
}
.procedures .cards .card .card-btn {
  margin: 40px 20px;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: #30383b;
  cursor: pointer;
}
.procedures .cards .card:hover {
  box-shadow: 0 10px 20px #d3cece;
  border: none;
}
.procedures .cards .card:hover .card-btn {
  background-color: #1ba4ce;
}

@media (max-width: 576px) {
  .procedures {
    padding: 0 3%;
  }
}
.team {
  padding: 5%;
  text-align: center;
}
.team .team-title {
  margin: 100px 0 50px 0;
}
.team .team-text {
  max-width: 800px;
  margin: auto;
}
.team .team-persons-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.team .person {
  position: relative;
  margin: 15px;
  width: 20%;
  max-width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.team .first {
  background-image: url("../img/team-1.jpg");
}
.team .second {
  background-image: url("../img/team-2.jpg");
}
.team .third {
  background-image: url("../img/team-3.jpg");
}
.team .person-info {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 80%;
  background-color: white;
  transition: all 0.3s;
}
.team .person-info .person-name {
  padding-top: 10px;
  margin-bottom: 8px;
}
.team .person-info .social-icon {
  display: flex;
  justify-content: center;
}
.team .person-info .social-icon .icon {
  margin: 20px 10px;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.team .person-info .social-icon .icon i {
  font-size: 2rem;
  line-height: 30px;
  transition: all 0.3s;
}
.team .person-info:hover {
  bottom: -50px;
  box-shadow: 0 10px 20px #d3cece;
}
.team .icon-link:hover .icon {
  background-color: #1ba4ce;
  border: none;
}
.team .icon-link:hover .icon i {
  color: #fff;
}

@media (min-width: 576px) and (max-width: 1200px) {
  .team .person {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .team .person {
    width: 100%;
  }
}
.form {
  display: flex;
  height: 500px;
  width: 100%;
}
.form .form-img {
  width: 35%;
  height: 100%;
  background-image: url("../img/contact-bg.jpg");
  background-position: center;
  background-size: cover;
}
.form .form-box {
  width: 65%;
  padding: 5% 8%;
  background-color: #1ba4ce;
}
.form .form-box .form-error {
  color: red;
}
.form .form-box form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form .form-box form input,
.form .form-box form select {
  width: 48%;
  padding: 5px 10px;
  margin: 25px 0;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem;
  color: #fff;
  background: none;
}
.form .form-box form input::placeholder,
.form .form-box form select::placeholder {
  color: #fff;
}
.form .form-box form textarea {
  width: 100%;
  margin: 30px 0 20px 0;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem;
  color: #fff;
  background: none;
}
.form .form-box form textarea::placeholder {
  color: #fff;
}
.form .form-box form .error {
  border-bottom: 1px solid red;
}
.form .form-box form .btn-form {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
}
.form .form-box .send {
  color: #fff;
}

@media (max-width: 768px) {
  .form .form-img {
    display: none;
  }
  .form .form-box {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #form .form-box {
    padding: 10%;
  }
  #form .form-box input,
  #form .form-box select,
  #form .form-box textarea {
    width: 100%;
    margin: 10px 0;
  }
  #form .form-box .btn-form {
    margin: auto;
  }
}
.blog {
  text-align: center;
  padding: 0 8%;
}
.blog .blog-text {
  max-width: 800px;
  margin: 50px auto;
}
.blog .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.blog .cards .card {
  margin: 20px;
  max-width: 350px;
  padding: 20px 20px 0 20px;
  border: 1px solid rgb(219, 213, 213);
  transition: all 0.3s;
}
.blog .cards .card .card-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.blog .cards .card .card-date {
  margin-top: 20px;
  font-size: 1rem;
}
.blog .cards .card .card-text {
  font-size: 1.5rem;
}
.blog .cards .card .card-first {
  background-image: url("../img/blog-1.jpg");
}
.blog .cards .card .card-second {
  background-image: url("../img/blog-2.jpg");
}
.blog .cards .card .card-third {
  background-image: url("../img/blog-3.jpg");
}
.blog .cards .card .card-btn {
  margin: 40px 20px;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: #30383b;
  cursor: pointer;
}
.blog .cards .card:hover {
  box-shadow: 0 10px 20px #d3cece;
  border: none;
}
.blog .cards .card:hover .card-btn {
  background-color: #1ba4ce;
}

@media (max-width: 576px) {
  .procedures {
    padding: 0 3%;
  }
}
.contact {
  padding: 10px;
  text-align: center;
  background-color: #1ba4ce;
  color: #fff;
}
.contact .contact-title {
  margin-top: 50px;
}
.contact .contact-text {
  margin: auto;
  max-width: 800px;
  color: #fff;
}
.contact .contact-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 3% 10%;
}
.contact .contact-box .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.contact .contact-box .contact-info .contact-info-box {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.contact .contact-box .contact-info .contact-info-box .contact-info-icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.contact .contact-box .contact-info .contact-info-box p {
  font-size: 1.4rem;
  color: #fff;
}
.contact .contact-box .contact-info .contact-info-box .contact-info-text-box {
  display: flex;
  flex-direction: column;
}
.contact .contact-box .contact-inputs {
  margin-left: 100px;
  width: 50%;
}
.contact .contact-box .contact-inputs form {
  display: flex;
  flex-direction: column;
}
.contact .contact-box .contact-inputs input,
.contact .contact-box .contact-inputs textarea {
  width: 100%;
  padding: 20px 10px;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #1ba4ce;
  color: #fff;
}
.contact .contact-box .contact-inputs input::placeholder,
.contact .contact-box .contact-inputs textarea::placeholder {
  color: #fff;
}
.contact .contact-box .contact-inputs .contact-btn {
  width: 150px;
  margin-top: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 996px) {
  .contact .contact-box {
    justify-content: center;
  }
  .contact .contact-box .contact-info {
    width: 100%;
  }
  .contact .contact-box .contact-inputs {
    width: 100%;
    margin-left: 0;
  }
  .contact .contact-box .contact-inputs input,
  .contact .contact-box .contact-inputs textarea {
    margin: 10px;
    border: 1px solid #fff;
  }
  .contact .contact-box .contact-inputs .contact-btn {
    margin: 20px auto;
  }
}
.footer .footer-img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-image: url("../img/logo-txt.png");
  background-size: cover;
  background-position: center;
}
.footer .footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.footer .footer-items .footer-item {
  padding: 10px 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  list-style: none;
}
.footer .footer-items .footer-item a {
  text-decoration: none;
}
.footer .footer-text {
  text-align: center;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 100px;
  max-width: 1200px;
}/*# sourceMappingURL=style.css.map */