.blog {
	text-align: center;
	padding: 0 8%;
	.blog-text {
        max-width: 800px;
        margin: 50px auto;
	}
	.cards {
		display: flex;
		justify-content: center;
        flex-wrap: wrap;
		width: 100%;

		.card {
            margin: 20px;
			max-width: 350px;
			padding: 20px 20px 0 20px;
			border: 1px solid rgb(219, 213, 213);
            transition: all .3s;
            
			.card-img {
				
				background-position: center;
				background-size: cover;
				width: 100%;
				height: 300px;
			}
            .card-date{
                margin-top: 20px;
                font-size: 1rem;
            }
            .card-text{
                font-size: 1.5rem;
            }
			.card-first{
                background-image: url('/img/blog-1.jpg');
            }
            .card-second{
                background-image: url('/img/blog-2.jpg');
            }
            .card-third{
                background-image: url('/img/blog-3.jpg');
            }
			.card-btn {
				margin: 40px 20px;
				padding: 15px 30px;
				border-radius: 25px;
				border: none;
				font-size: 1.2rem;
				color: white;
				background-color: $dark-grey;
				cursor: pointer;
			}
		}
        .card:hover{
            box-shadow: 0 10px 20px #d3cece;
            border: none;
            .card-btn{
                background-color: $button-bcg;
            }
        }
	}
}

@media(max-width:576px){
    .procedures{
        padding: 0 3%;
    }
}