.form {
	display: flex;
	height: 500px;
	width: 100%;
	.form-img {
		width: 35%;
		height: 100%;
		background-image: url('../img/contact-bg.jpg');
		background-position: center;
		background-size: cover;
	}
	.form-box {
		width: 65%;
		padding: 5% 8%;
		background-color: $button-bcg;
		.form-error {
			color: red;
		}
		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			input,
			select {
				width: 48%;
				padding: 5px 10px;
				margin: 25px 0;
				border: none;
				border-bottom: 1px solid $button-text;
				font-size: 1.4rem;
				color: $button-text;
				background: none;
				&::placeholder {
					color: $button-text;
				}
			}

			textarea {
				width: 100%;
				margin: 30px 0 20px 0;
				border: none;
				border-bottom: 1px solid $button-text;
				font-size: 1.4rem;
				color: $button-text;
				background: none;
				&::placeholder {
					color: $button-text;
				}
			}
			.error {
				border-bottom: 1px solid red;
			}

			.btn-form {
				padding: 10px 20px;
				margin: 10px 0;
				border-radius: 20px;
				border: none;
				font-size: 1.2rem;
				background-color: #fff;
			}
		}
		.send {
			color: #fff;
		}
	}
}
@media (max-width: 768px) {
	.form {
		.form-img {
			display: none;
		}
		.form-box {
			width: 100%;
		}
	}
}
@media (max-width: 576px) {
	#form {
		.form-box {
			padding: 10%;
			input,
			select,
			textarea {
				width: 100%;
				margin: 10px 0;
			}
			.btn-form {
				margin: auto;
			}
		}
	}
}
