.header {
	height: 75vh;
	padding: 10px 8%;

	.header-img-bg {
		position: absolute;
		z-index: 200;
		display: none;
		right: 0;
		top: 0;
		height: 50vw;
		max-height: 800px;
	}
	.header-img-side {
		position: absolute;
		z-index: -10;
		left: -50px;
		top: 100px;
		width: 25%;
		max-width: 180px;
	}

	.header-title {
		margin: 70px 0;
	}
	.header-small-title {
		font-size: 1.6rem;
		margin: 50px 0;
	}
	.header-text {
		font-size: 1.6rem;
		margin: 50px 0;
	}
	.header-btn {
		padding: 10px 20px;
		margin-right: 30px;
		background-color: $button-bcg;
		color: $button-text;
		border: none;
	}
	.header-btn-watch {
		text-align: center;
		display: inline-block;
		padding: 10px 20px;
		border: none;
		background: none;
		color: $purple;

		i {
			font-size: 4rem;
			margin-right: 10px;
		}
	}
}
@media (max-width: 576px) {
	.header {
		height: 50vh;
		.header-title {
			font-size: 4rem;
			margin: 20px 0;
		}
		.header-small-title {
			font-size: 1.3rem;
			margin: 10px 0;
		}
		.header-text {
			font-size: 1.5rem;
			margin: 30px 0;
		}
		.header-btn {
			padding: 7px 10px;
			margin-right: 5px;
			font-size: 1.2rem;
		}
		.header-btn-watch {
			padding: 5px 10px;
			font-size: 1.2rem;
			i {
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 769px) {
	.header {
		.header-title {
			font-size: 6rem;
			margin: 20px 0;
		}
		.header-small-title {
			font-size: 3rem;
			margin: 30px 0;
		}
		.header-text {
			font-size: 2.7rem;
			margin: 70px 0;
		}
		.header-btn {
			padding: 10px 20px;
			margin-right: 30px;
			font-size: 2.5rem;
		}
		.header-btn-watch {
			padding: 10px 20px;
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 767px) and (max-width: 1025px) {
	.header {
		height: 80vh;
		.header-title {
			font-size: 7rem;
			margin: 40px 0;
		}
		.header-small-title {
			font-size: 3.5rem;
			margin: 50px 0;
		}
		.header-text {
			font-size: 2.7rem;
			margin: 90px 0;
		}
		.header-btn {
			padding: 15px 30px;
			margin-right: 30px;
			font-size: 3rem;
		}
		.header-btn-watch {
			padding: 15px 30px;
			font-size: 3rem;
		}
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.header {
		.header-img-bg {
			height: 40vw;
		}
	}
}
@media (min-width: 1050px) and (max-width: 1200px) {
	.header {
		.header-img-bg {
			height: 30vw;
		}
	}
}

@media (min-width: 1050px) {
	.header {
		padding-right: 55%;
		.header-img-bg {
			display: block;
		}
	}
}
