.nav {
	position: sticky;
	z-index: 100;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 8%;
	height: 10vh;
	width: 100%;
	background-color: #fff;
	.nav-box {
		display: flex;
		width: 100%;
		height: 100%;
	}
	.nav-img {
		height: 80%;
	}

	.nav-items {
		
		margin-left: 20px;
		.nav-item {
			padding: 20px;
			text-transform: uppercase;
			list-style: none;
			font-size: 1.5rem;
			cursor: pointer;
			a {
				text-decoration: none;
				color: $purple;
			}
		}
		
	}
	.show{
		display: none;
	}

	.nav-btn {
		position: relative;
		z-index: 100;
		background: none;
		border: none;
		cursor: pointer;
		i {
			font-size: 6vw;
			padding: 10px;
			color: $button-bcg;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		.nav-items {
			display: flex;
		}
		.nav-btn {
			display: none;
		}
	}
}
@media (max-width: 992px) {
	.nav {
		
		.nav-items {
			position: absolute;
			right: 0;
			top: 0;
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 50vw;
			background-color: $button-bcg;
			
			
			.nav-item{
				margin: 20px 0;
				font-size: 2rem;
				a{
					color: #fff;
				}
			}
			
		}
		.show{
			display: flex;
		}
		.nav-btn{

			i{
				
			}
			
		}
	}
}
