html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

p,
button,
input {
	font-family: 'Roboto', cursive;
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
	font-family: 'Bellota', cursive;
}

h1 {
	font-size: 5rem;
}
p {
	letter-spacing: 0.5px;
	line-height: 25px;
	color: $light-gray;
}

h2 {
	font-size: 4.2rem;
}
h4 {
	font-size: 2rem;
}
